.faq {

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
}

@media screen and (max-width:550px) {

    .faq {

        &__container {
            grid-template-columns: 1fr;

        }
    }

}