.navbar {
    padding: 1.2rem;

    &__content {
        width: 80%;
        margin: auto;
    }

    &__logo-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__nav-toggler {
        font-size: 1.5rem;
        cursor: pointer;
        transition: all 400ms ease-in;

    }

    &__list a {
        font-size: 1rem;
        text-transform: capitalize;
        display: block;
        transition: var(--transition);
    }

    &__nav-toggler:hover {
        transform: rotate(90deg);
    }

    &__list {
        height: 0;
        overflow: hidden;
        transition: var(--transition);
    }

    .show-links {
        height: 15rem;
    }


    &__text {
        font-size: 25px;
        font-weight: 300;
    }

    &__span {
        font-weight: 500;
    }

    &__links {
        font-size: 14px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, .5);
        padding: .4rem 0;

    }

    &__links:hover {
        color: rgba(255, 255, 255, .8);

    }

}

&__list.show-links .navbar {
    background-color: #fff;
}

.fixedNav.navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, rgb(74, 13, 143) 0%, rgb(250, 42, 143) 100%);
    border: 0;
    transition: all 400ms ease;
    padding: .7rem 0;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

}

.navbar__list.show-links .navbar {
    background-color: red;

}



@media screen and (min-width:1050px) {
    .navbar {





        &__content {
            width: 1100px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .4rem .7rem;

        }

        &__logo-box {
            padding: 0;
        }

        &__nav-toggler {
            display: none;
        }

        &__list {
            height: auto;
            display: flex;
            gap: 30px;
        }

        &__list a {
            padding: 0;
            // margin: 0 0.5rem;
        }

        &__btn {
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
            padding: 0 1rem;
            transition: all 0.3s ease;
            background: transparent;
            border: 1px solid #fff;
            border-radius: 5px;
            color: #fff;


        }

        &__btn:hover {
            cursor: pointer;
            background-color: #fff;
            color: rgba(250, 0, 118, 0.8);
        }

        &__active {
            border-bottom: 2px solid #fff;
            color: #fff;
        }






    }




}