body {
  line-height: 1.5;
  font-family: var(--ff-rubik);
  font-weight: 400; }

.section-center {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8rem 0; }

.section-heading {
  font-size: 33px;
  font-weight: 500;
  color: var(--section-heading);
  font-family: inherit;
  text-align: center; }

.section-name {
  font-size: 13px;
  text-align: center;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--section-name); }

.heading-1 {
  font-size: 45px;
  font-weight: 300;
  color: var(--section-heading);
  text-align: left;
  font-family: inherit; }

.heading-2 {
  font-size: 28px;
  font-weight: 300;
  color: var(--section-heading);
  text-align: left;
  font-family: inherit; }

.heading-3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--section-heading);
  text-align: left;
  font-family: inherit; }

.paragraph-1 {
  font-size: 16px;
  font-weight: 300;
  color: var(--paragraph);
  text-align: left; }

.paragraph-2 {
  font-size: 14px;
  color: var(--paragraph); }

@media screen and (max-width: 1200px) {
  .section-center {
    max-width: 1000px; } }

@media screen and (max-width: 1050px) {
  .section-center {
    max-width: 800px; } }

@media screen and (max-width: 790px) {
  .section-center {
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px; } }

*,
*::after,
*::before {
  box-sizing: border-box;
  border: 0 solid transparent; }

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%; }

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

ol,
ul {
  list-style: none; }

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent; }

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit; }

html {
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; }

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #868e96;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --section-heading: #633991;
  --section-name: #998a98;
  --paragraph: #959094;
  --ff-rubik: 'Rubik', sans-serif; }

.hero-section {
  background-image: linear-gradient(135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
  min-height: 100vh; }
