body {
  line-height: 1.5;
  font-family: var(--ff-rubik);
  font-weight: 400; }

.section-center {
  max-width: 1100px;
  margin: 0 auto; }

.pd-bg {
  padding: 8rem 0; }

.pd-md {
  padding: 4rem 0; }

.pd-sm {
  padding: 3rem 0; }

.text-center {
  text-align: center; }

.text-white {
  color: #FFF !important; }

.section-heading {
  font-size: 33px;
  font-weight: 500;
  color: var(--section-heading);
  font-family: inherit;
  text-align: center;
  padding-bottom: 3rem; }

.section-name {
  font-size: 13px;
  text-align: center;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--section-name); }

.heading-1 {
  font-size: 45px;
  font-weight: 300;
  color: var(--section-heading);
  font-family: inherit; }

.heading-2 {
  font-size: 28px;
  font-weight: 300;
  padding-bottom: 1rem;
  color: var(--section-heading);
  font-family: inherit; }

.heading-3 {
  font-size: 20px;
  padding-bottom: 1rem;
  font-weight: 500;
  color: var(--section-heading);
  font-family: inherit; }

.paragraph-1 {
  font-size: 16px;
  font-weight: 300;
  color: var(--paragraph);
  text-align: left; }

.paragraph-2 {
  font-size: 14px;
  color: var(--paragraph); }

.btn {
  font-size: 12px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  padding: 0.375rem 1.35rem; }

.btn-primary {
  background-image: linear-gradient(122deg, #e54595 0%, #fd378e 100%);
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  padding: 0.6rem 2rem;
  border: 0;
  border-radius: 3px;
  color: #fff;
  margin-top: 1.5rem; }

.btn-primary:hover {
  cursor: pointer; }

.bt-lg {
  padding: 0.8rem 1rem;
  font-size: 15px; }

.btn-light {
  border-radius: 3px;
  background: #FFF;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 500;
  color: #633991;
  margin: 0.5rem;
  padding: 0.7rem 1.6rem;
  line-height: 1.8;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  transition: all 300ms ease-in; }

.btn-light:hover {
  opacity: .9;
  color: #000000; }

@media screen and (max-width: 1200px) {
  .section-center {
    max-width: 1000px; } }

@media screen and (max-width: 1050px) {
  .section-center {
    max-width: 800px; } }

@media screen and (max-width: 820px) {
  .section-center {
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px; }
  .heading-1 {
    font-size: 30px; }
  .heading-2 {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 1rem;
    color: var(--section-heading);
    font-family: inherit; }
  .paragraph-1 {
    font-size: 12px; } }

*,
*::after,
*::before {
  box-sizing: border-box;
  border: 0 solid transparent;
  scroll-behavior: smooth; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%; }

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent; }

button {
  padding: 0;
  margin: 0; }

button:hover {
  cursor: pointer; }

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit; }

html {
  -webkit-text-size-adjust: 100%; }

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #868e96;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --section-heading: #633991;
  --section-name: #998a98;
  --paragraph: #959094;
  --light-bg: #faf6fb;
  --pink-lite: #E38cB7;
  --ff-rubik: 'Rubik', sans-serif; }

.navbar {
  padding: 1.8rem 0;
  color: #fff;
  gap: 30px; }
  .navbar__content {
    display: flex;
    align-items: center; }
  .navbar__logo-box {
    flex-grow: 1; }
  .navbar__text {
    font-size: 25px;
    font-weight: 300; }
  .navbar__span {
    font-weight: 500; }
  .navbar__list {
    display: flex;
    align-items: center;
    gap: 35px;
    height: auto; }
  .navbar__links {
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    padding: .4rem 0; }
  .navbar__links:hover {
    color: rgba(255, 255, 255, 0.8); }
  .navbar__active {
    border-bottom: 2px solid #fff;
    color: #fff; }
  .navbar__btn {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.475rem 1.55rem;
    transition: all 0.3s ease;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px; }
  .navbar__btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: rgba(250, 0, 118, 0.8); }
  .navbar__nav-toggler {
    display: none; }

.fixedNav.navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, #4a0d8f 0%, #fa2a8f 100%);
  border: 0;
  transition: all 400ms ease;
  padding: .7rem 0;
  z-index: 1000; }

.fixedNav.navbar .navbar__content {
  width: 1100px;
  margin: auto; }

@media screen and (max-width: 1050px) {
  .navbar {
    position: relative; }
    .navbar__list {
      flex-direction: column;
      position: fixed;
      top: 208px;
      left: 166px;
      transform: translate(-50%, -50%);
      gap: 10px;
      display: none; }
    .navbar__links {
      color: rgba(255, 255, 255, 0.5);
      padding: .4rem 0;
      display: block;
      width: 100%; }
    .navbar__links:hover {
      background-color: skyblue; }
    .navbar__nav-toggler {
      display: block;
      font-size: 28px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      padding: 0 .8rem; } }

.hero-section {
  background-image: linear-gradient(135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
  height: 100vh;
  overflow: hidden; }
  .hero-section__content {
    padding-top: 2rem;
    text-align: center; }
  .hero-section__header {
    font-size: 60px;
    color: #fff;
    font-weight: 300; }
  .hero-section__text {
    font-size: 23px;
    font-weight: 300;
    max-width: 800px;
    margin: auto;
    color: #FFb8f6; }

@media screen and (max-width: 840px) {
  .hero-section__header {
    font-size: 40px; }
  .hero-section__text {
    font-size: 17px;
    font-weight: 300;
    margin: auto;
    color: #FFb8f6; } }

.highlights {
  background-color: var(--light-bg); }
  .highlights__content {
    padding-top: 3rem; }
  .highlights__rows {
    display: flex;
    align-content: center;
    gap: 25px; }
  .highlights__col {
    position: relative;
    background-color: #fff;
    padding: 1.5rem;
    flex-basis: 33.333%;
    border-radius: .25rem;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    gap: 20px;
    transition: all 0.3s ease; }
  .highlights__col::before {
    content: '';
    position: absolute;
    width: 3px;
    background: linear-gradient(to bottom, #9477b4 0%, #fc73b4 100%);
    top: 0;
    bottom: 0;
    left: 0; }
  .highlights__col:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2); }
  .highlights__icon {
    font-size: 40px;
    color: #fc73b4; }

@media screen and (max-width: 875px) {
  .highlights__rows {
    flex-direction: column; } }

.our-app__discover {
  margin-left: 50%; }

.our-app__icon {
  width: 70px;
  border-radius: 3px;
  padding-bottom: 1.5rem; }

.our-app__logo {
  background-color: #fff;
  box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  font-size: 45px;
  color: #fc73b4; }

.our-app__img {
  margin-top: -150px; }

.our-app__iphone {
  display: inline-block; }

@media screen and (max-width: 1045px) {
  .our-app__img {
    margin-top: -80px; } }

@media screen and (max-width: 785px) {
  .our-app__content {
    display: flex;
    flex-direction: column; }
  .our-app__discover {
    margin-left: 0; }
  .our-app__img {
    margin-top: 0; } }

.features {
  background-color: var(--light-bg); }
  .features__components {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #FFF;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
    padding: 3rem; }
  .features__tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px; }
  .features__tabs:hover {
    cursor: pointer; }
  .features__btn {
    padding: 1rem 1rem;
    font-size: 19px;
    color: #b5a4c8;
    background-color: #f5eff7;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border: 1px solid transparent; }
  .features__btn.active {
    background: #FFF;
    border-top-width: 3px;
    border-color: #ce75b4 #faf6fb #FFF;
    color: #633991; }
  .features__tab-content {
    display: flex;
    gap: 10px;
    transition: all ease-in 300ms; }
  .features__tab-content:nth-child(even) {
    flex-direction: row-reverse; }
  .features__tab-content {
    display: none; }
  .features__tab-content.active {
    display: flex; }
  .features__img {
    flex-basis: 30%; }
  .features__text {
    flex-basis: 70%; }
  .features__sub-heading {
    font-size: 20px;
    color: var(--pink-lite);
    font-weight: 300;
    padding-bottom: 2rem; }
  .features__para {
    line-height: 1.8;
    padding-bottom: 1rem; }

@media screen and (max-width: 750px) {
  .features__components {
    padding: 1.5rem; }
  .features__tabs {
    grid-template-columns: repeat(2, 1fr); }
  .features__tab-content {
    flex-direction: column; }
  .features__tab-content:nth-child(even) {
    flex-direction: column-reverse; }
  .features__sub-heading {
    font-size: 17px; } }

@media screen and (max-width: 500px) {
  .features__tabs {
    grid-template-columns: 1fr; } }

.launch-app__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px; }

.launch-app__img {
  flex-basis: 50%; }

.launch-app__text {
  flex-basis: 50%; }

@media screen and (max-width: 810px) {
  .launch-app__content {
    flex-direction: column; }
  .launch-app__img {
    flex-basis: 50%; }
  .launch-app__text {
    flex-basis: 50%; } }

.about {
  background-color: var(--light-bg); }
  .about__content {
    display: flex;
    justify-content: center;
    align-items: center; }
  .about__list {
    display: flex;
    flex-direction: column;
    gap: 40px; }
  .about__col {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 30px; }
  .about__col:hover .about__circle-icon {
    background-color: #f5378e;
    color: #fff;
    cursor: pointer; }
  .about__col:not(:last-child) {
    border-bottom: 1px solid #f8e3f0; }
  .about__circle-icon {
    padding: 14px 40px;
    width: 100px;
    border-radius: 50%;
    color: #f5378e;
    font-size: 42px;
    font-weight: 300;
    transition: all 0.3s ease;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.1); }

@media screen and (max-width: 820px) {
  .about {
    background-color: var(--light-bg); }
    .about__content {
      flex-direction: column; }
    .about__circle-icon {
      padding: 19px 30px;
      width: 100px;
      height: 82;
      border-radius: 50%;
      color: #f5378e;
      font-size: 30px;
      font-weight: 300;
      transition: all 0.3s ease;
      box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.1); } }

.swiper {
  width: 100%;
  height: 100%; }

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 18px;
  color: var(--paragraph);
  font-weight: 500; }

.swiper-slide {
  text-align: center;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column; }

.testimonials__img {
  border-radius: 50%;
  width: 100px;
  padding-bottom: 1.5rem; }

.testimonials__header {
  font-size: 20px;
  font-weight: 300;
  width: 80%;
  color: var(--paragraph);
  padding-bottom: 1.5rem; }

.testimonials__text {
  color: var(--pink-lite); }

@media screen and (max-width: 875px) {
  .testimonials__header {
    font-size: 15px; } }

@media screen and (max-width: 875px) {
  .testimonials__header {
    font-size: 11px; } }

.pricing__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px; }

.pricing__card {
  background-color: #fff;
  border: 1px solid #f1eef1;
  padding: 3rem 1.5rem;
  text-align: center; }

.pricing__header {
  padding-bottom: 1.5rem; }

.pricing__text {
  font-size: 14px;
  color: var(--pink-lite);
  text-transform: uppercase; }

.pricing__span {
  font-size: 25px; }

.pricing__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 1.5rem; }

.pricing__list li {
  font-weight: 400; }

.pricing__list del {
  color: #d9d3d8; }

.pricing__btn {
  width: 100%;
  border: 0;
  padding: 0.8rem 1rem;
  border-radius: 3px;
  background-image: linear-gradient(122deg, #e54595 0%, #fd378e 100%);
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2); }

.pricing__active {
  border-top-width: 3px;
  border-color: #ce75b4 #faf6fb #FFF;
  box-shadow: 0px 12px 59px 0px rgba(0, 0, 0, 0.2);
  color: #633991; }

@media screen and (max-width: 850px) {
  .pricing__container {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 550px) {
  .pricing__container {
    grid-template-columns: 1fr; } }

.faq__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px; }

@media screen and (max-width: 550px) {
  .faq__container {
    grid-template-columns: 1fr; } }

.download-app {
  background-image: linear-gradient(135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%); }
  .download-app__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh; }
  .download-app__img {
    padding-bottom: 4px; }
  .download-app__text {
    font-size: 16px;
    font-weight: 300;
    color: #ffb8f6;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 1.3rem 0; }
  .download-app__text-secondry {
    font-size: 13px;
    padding-top: 1.4rem;
    font-style: italic;
    color: var(--pink-lite); }

@media screen and (max-width: 825px) {
  .download-app__text {
    font-size: 16px;
    font-weight: 300;
    color: #ffb8f6;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 1.3rem 0; }
  .download-app__btns {
    text-align: center; } }

.footer {
  background-color: #faf6fb; }
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .footer__text {
    font-weight: 400;
    letter-spacing: 1.2px; }
  .footer__email, .footer__phone {
    color: #e38cb7;
    font-size: 16px;
    padding: .3rem 0; }
  .footer__email:hover, .footer__phone:hover {
    cursor: pointer;
    text-decoration: underline; }
  .footer__icons {
    background-color: #FFF;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin: 0 0.3rem;
    border-radius: 5px;
    color: #f4c9e2;
    transition: all 0.3s ease; }
  .footer__icons:hover {
    color: var(--pink-lite); }

.fa-solid {
  color: var(--paragraph);
  padding-right: 10px; }

@media screen and (max-width: 625px) {
  .footer__content {
    flex-direction: column;
    gap: 30px; } }
